.whatsAppIcon{
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 75px;
    height: 75px;
}
.freeTransContainer{
    position: fixed;
    bottom: 150px;
    right: 15px;
    border-radius: 15px !important;
}
.bg-colored{
       background-color: #1b90c6;
}

.cricledIcon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}