.whatsAppIcon{
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 75px;
    height: 75px;
    z-index: 15000;
}
.freeTransContainer{
    position: fixed;
    bottom: 150px;
    right: 15px;
    z-index: 15000;
    border-radius: 15px !important;
}
.bg-colored{
    background:linear-gradient(#1b90c6,#1b90c6), url('../../assets/images/abfc1ea0-56f6-47a8-b323-afbc9719c964/bg-4.png') center/cover no-repeat;
}
.txt-colored{
       color: #1b90c6;
}

.cricledIcon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.brand-img {
  width: 100%;
  max-width: 140px;   
  height: 100px;       
  object-fit:contain;
  margin: 0 auto;    
  display: block;
}
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}


@media screen and (width>768px) {
    nav a{
    position: relative;
    color: #1b90c6;
}
nav a::after{
    position: absolute;
    left: 0%;
    bottom: -5px;
    content: "";
    height: 2px;
    width: 0;
    background-color: #1b90c6;
    /* transform: translateX(-50%); */
    transition: all 0.3s;
}

nav a:hover::after{
    width: 100%;
}
}