.whatsAppIcon{
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 75px;
    height: 75px;
    z-index: 15000;
}
.freeTransContainer{
    position: fixed;
    bottom: 150px;
    right: 15px;
    z-index: 15000;
    border-radius: 15px !important;
}
.bg-colored{
    background:linear-gradient(rgba(27, 144, 198,0.95),rgba(27, 144, 198,0.95)), url(../src/assets/images/abfc1ea0-56f6-47a8-b323-afbc9719c964/bg-4.png) center/cover no-repeat;
}
.txt-colored{
       color: #1b90c6;
}
.hero-icon{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.cricledIcon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(211, 211, 211,0.5);
  color: #1b90c6;
  border: none;
  aspect-ratio: 1/1;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
border-radius: 50%;
}

.swiper-prev { left: -20px; }
.swiper-next { right: -20px; }

.brand-img {
  width: 100%;
  max-width: 140px;   
  height: 100px;       
  object-fit:contain;
  margin: 0 auto;    
  display: block;
}
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}

.missionCard .icon-wrapper{
    transition: all 0.5s linear;
}
.missionCard{
    transition: all 0.3s linear;
}
.missionCard:hover{
    transform: translateY(-15px);
    color: #1b90c6;
}
.missionCard:hover .icon-wrapper{
background: black !important;
color:#1b90c6 !important;
}
@media screen and (width>768px) {
    nav a{
    position: relative;
    color: #1b90c6;
}
nav a::after{
    position: absolute;
    left: 0%;
    bottom: -5px;
    content: "";
    height: 2px;
    width: 0;
    background-color: #1b90c6;
    /* transform: translateX(-50%); */
    transition: all 0.3s;
}

nav a:hover::after{
    width: 100%;
}
}

@media screen and (width<768px) {
.hero-icon{    
    width: 40px;
    height: 40px;
    font-size: 30px;
}
}